<div class="row">
    <div class="col-sm-2">
        <strong>Año</strong>
    </div>
    <div class="col-sm-3">
        ###year###
    </div>
    <div class="col-sm-2">
        <strong>Mes</strong>
    </div>
    <div class="col-sm-3">
        ###mes###
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-2">
        <strong>Fecha</strong>
    </div>
    <div class="col-sm-3">
        ###fecha###
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-2">
        <strong>Num P.E.</strong>
    </div>
    <div class="col-sm-3">
        ###num-pe###
    </div>
</div>