<div class="row">
    <div class="col-sm-2">
        <h5>
          <strong># Recepción</strong>
        </h5>      
    </div>
    <div class="col-sm-3">
        <h5>###id###</h5> 
        
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
        <strong>Patente</strong>
    </div>
    <div class="col-sm-3">
        ###patente###
    </div>
    <div class="col-sm-2">
      <strong>Fecha</strong>
  </div>
  <div class="col-sm-3">
      ###fecha###
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
        <strong>Kilometraje</strong>
    </div>
    <div class="col-sm-3">
        ###kilometraje### <strong>kms.</strong>
    </div>
  </div>
  <br>
    <div class="table-responsive">
        ###detalle###
    </div>
  
    <br>
  <div class="row">
    <div class="col-sm-2">
        <strong>Obs. General</strong>
    </div>
    <div class="col-sm-10">
        ###observacion###
    </div>
  </div>