<h3>
    <i class="fas fa-angle-double-right"></i> Recepción Vehículos 
  </h3>
  <hr>
  <br>
  <div class="row">
    <div class="col-sm-2">
        <strong>N° Recepción</strong>
    </div>
    <div class="col-sm-3">
        ###num-recepcion###
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
        <strong>Patente</strong>
    </div>
    <div class="col-sm-3">
        ###select-patente###
    </div>
    <div class="col-sm-2">
      <strong>Fecha</strong>
  </div>
  <div class="col-sm-3">
      ###fecha###
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
        <strong>Kilometraje</strong>
    </div>
    <div class="col-sm-3">
        <input type="text" name="kilometraje" id="kilometraje" class="form-control" placeholder="Ingrese kilometraje">
    </div>
  </div>
  <hr>
  <h4>
    <i class="fas fa-angle-double-right"></i> Vigencia
  </h4>
  <br>

  <div class="row">
    <div class="col-sm-2">
      <strong>
        Vigencia Revisión Técnica
      </strong>
    </div>
    <div class="col-sm-3">
      ###select-vigencia-rt###
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-vigencia-rt" id="ob-vigencia-rt" class="form-control col-der" placeholder="Ingrese Observación Revisión Técnica">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Vigencia Permiso Circulación
      </strong>
    </div>
    <div class="col-sm-3">
      ###select-vigencia-pc###
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-vigencia-pc" id="ob-vigencia-pc" class="form-control col-der" placeholder="Ingrese Observación Permiso Circulación">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Vigencia Seguro Obligatorio
      </strong>
    </div>
    <div class="col-sm-3">
      ###select-vigencia-so###
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-vigencia-so" id="ob-vigencia-so" class="form-control col-der" placeholder="Ingrese Observación Seguro Obligatorio">
    </div>
  </div>
  <hr>
  <h4>
    <i class="fas fa-angle-double-right"></i> Controles
  </h4>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Control de Niveles
      </strong>
    </div>
    <div class="col-sm-3">
      <input type="text" name="control-niveles" id="control-niveles" class="form-control col-izq" placeholder="Ingrese Control de Niveles">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-control-niveles" id="ob-control-niveles" class="form-control col-der" placeholder="Ingrese Observación Control de Niveles">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Nivel de Combustible
      </strong>
    </div>
    <div class="col-sm-3">
      <input type="text" name="nivel-combustible" id="nivel-combustible" class="form-control col-izq" placeholder="Ingrese Nivel de Combustible">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-nivel-combustible" id="ob-nivel-combustible" class="form-control col-der" placeholder="Ingrese Observación Nivel de Combustible">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Nivel de Aceite
      </strong>
    </div>
    <div class="col-sm-3">
      <input type="text" name="nivel-aceite" id="nivel-aceite" class="form-control col-izq" placeholder="Ingrese Nivel de Aceite">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-nivel-aceite" id="ob-nivel-aceite" class="form-control col-der" placeholder="Ingrese Observación Nivel de Aceite">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Nivel de Agua Radiador
      </strong>
    </div>
    <div class="col-sm-3">
      <input type="text" name="nivel-agua-radiador" id="nivel-agua-radiador" class="form-control col-izq" placeholder="Ingrese Nivel de Agua Radiador">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-nivel-agua-radiador" id="ob-nivel-agua-radiador" class="form-control col-der" placeholder="Ingrese Observación Nivel de Agua Radiador">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Nivel de Liquido de Frenos
      </strong>
    </div>
    <div class="col-sm-3">
      <input type="text" name="nivel-liquido-frenos" id="nivel-liquido-frenos" class="form-control col-izq" placeholder="Ingrese Nivel de Líquido de Frenos">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-nivel-liquido-frenos" id="ob-nivel-liquido-frenos" class="form-control col-der" placeholder="Ingrese Observación Nivel de Liquido Frenos">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Nivel de Agua Limpia Parabrisas
      </strong>
    </div>
    <div class="col-sm-3">
      <input type="text" name="nivel-agua-limpia-parabrisas" id="nivel-agua-limpia-parabrisas" class="form-control col-izq" placeholder="Ingrese Nivel de Agua Limpia Parabrisas">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-nivel-agua-limpia-parabrisas" id="ob-nivel-agua-limpia-parabrisas" class="form-control col-der" placeholder="Ingrese Observación Nivel de Agua Limpia Parabrisas">
    </div>
  </div>
  <hr>
  <h4>
    <i class="fas fa-angle-double-right"></i> Chequeos
  </h4>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Equipo Básico de Emergencia
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-ebem###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-ebem" id="ob-ebem" class="form-control col-der" placeholder="Ingrese Observación Equipo Básico de Emergencia">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Botiquín
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-botiquin###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-botiquin" id="ob-botiquin" class="form-control col-der" placeholder="Ingrese Observación Botiquín">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Extintor Operativo y Vigente
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-eov###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-eov" id="ob-eov" class="form-control col-der" placeholder="Ingrese Observación Extintor Operativo y Vigente">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Triángulos Luminosos
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-tl###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-tl" id="ob-tl" class="form-control col-der" placeholder="Ingrese Observación Triángulos Luminosos">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        LLaves Rueda
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-llr###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-llr" id="ob-llr" class="form-control col-der" placeholder="Ingrese Observación Llaves Rueda">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Gata
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-gata###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-gata" id="ob-gata" class="form-control col-der" placeholder="Ingrese Observación Gata">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Limpieza Interior
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-li###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-li" id="ob-li" class="form-control col-der" placeholder="Ingrese Observación Limpieza Interior">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Limpieza Pick Up
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-pu###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-pu" id="ob-pu" class="form-control col-der" placeholder="Ingrese Observación Limpieza Pick Up">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Chaleco Reflectante
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-chr###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-chr" id="ob-chr" class="form-control col-der" placeholder="Ingrese Observación Chaleco Reflectante">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Cabos Para Amarrar
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-cpa###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-cpa" id="ob-cpa" class="form-control col-der" placeholder="Ingrese Observación Cabos para Amarrar">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Rueda de Repuesto
      </strong> 
    </div>
    <div class="col-sm-3">
      ###select-rdr###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-rdr" id="ob-rdr" class="form-control col-der" placeholder="Ingrese Observación Rueda de Repuesto">
    </div>
  </div>
  <hr>
  <h4>
    <i class="fas fa-angle-double-right"></i> Control de Luces y Accesorios
  </h4>
  <br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Cargador USB Para Teléfono
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-cargador-usb###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-cargador-usb" id="ob-cargador-usb" class="form-control col-der" placeholder="Ingrese Observación Cargador USB para Teléfono">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces Frontales Altas
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-lfa###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lfa" id="ob-lfa" class="form-control col-der" placeholder="Ingrese Observación Luces Frontales Altas">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces Frontales Bajas
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-lfb###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lfb" id="ob-lfb" class="form-control col-der" placeholder="Ingrese Observación Luces Frontales Bajas">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Intermitentes
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-intermitentes###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-intermitentes" id="ob-intermitentes" class="form-control col-der" placeholder="Ingrese Observación Intermitentes">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luz Patente
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-luz-patente###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lp" id="ob-lp" class="form-control col-der" placeholder="Ingrese Observación Luz Patente">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces de Frenos
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-lf###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lf" id="ob-lf" class="form-control col-der" placeholder="Ingrese Observación Luces de Freno">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces de Retroceso
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-lr###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lr" id="ob-lr" class="form-control col-der" placeholder="Ingrese Observación Luces de Retroceso">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces de Estacionamiento
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-le###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-le" id="ob-le" class="form-control col-der" placeholder="Ingrese Observación Luces de Estacionamiento">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces de Emergencia
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-lem###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lem" id="ob-lem" class="form-control col-der" placeholder="Ingrese Observación Luces de Emergencias">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Espejo Retrovisor
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-er###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-er" id="ob-er" class="form-control col-der" placeholder="Ingrese Observación Espejo Retrovisor">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Espejos Laterales
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-el###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-el" id="ob-el" class="form-control col-der" placeholder="Ingrese Observación Espejos Laterales">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Limpia Parabrisas
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-lpar###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lpar" id="ob-lpar" class="form-control col-der" placeholder="Ingrese Observación Limpia Parabrisas">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Parabrisas
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-par###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-par" id="ob-par" class="form-control col-der" placeholder="Ingrese Observación Parabrisas">
  </div>
</div>

<hr>
<h4>
  <i class="fas fa-angle-double-right"></i> Revisión Parte Externa
</h4>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Revisión Exterior Pintura
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-rep###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-rep" id="ob-rep" class="form-control col-der" placeholder="Ingrese Observación Revisión Exterior Pintura">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Revisión Espejos, Rayones , Etc.
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-ere###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-ere" id="ob-ere" class="form-control col-der" placeholder="Ingrese Observación Revisión Espejos, Rayones, Etc.">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Revisión 4 Neumáticos Aire/Estado
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-neumaticos###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-neumaticos" id="ob-neumaticos" class="form-control col-der" placeholder="Ingrese Observación 4 Neumáticos">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Revisión de Vidrios
    </strong> 
  </div>
  <div class="col-sm-3">
    ###select-vidrios###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-vidrios" id="ob-vidrios" class="form-control col-der" placeholder="Ingrese Observación de Vidrios">
  </div>
</div>
<hr>
<h4>
  <i class="fas fa-angle-double-right"></i> Observación General
</h4>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <textarea name="ob_general" id="ob_general" cols="30" rows="10" class="form-control"></textarea>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <button class="btn btn-secondary btn-block">
      Ingresar Datos
    </button>
  </div>
</div>