  <h3>
    <i class="fas fa-angle-double-right"></i> Recepción Vehículos 
  </h3>
  <hr>
  <div class="row">
    <div class="col-sm-2">
        <h5>
          <strong># Recepción</strong>
        </h5>      
    </div>
    <div class="col-sm-3">
        <h5>###num-recepcion###</h5> 
        <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
        <strong>Patente</strong>
    </div>
    <div class="col-sm-3">
        ###select-patente###
    </div>
    <div class="col-sm-2">
      <strong>Fecha</strong>
  </div>
  <div class="col-sm-3">
      ###fecha###
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
        <strong>Kilometraje</strong>
    </div>
    <div class="col-sm-3">
        <input type="text" name="kilometraje" id="kilometraje" class="form-control" placeholder="Ingrese kilometraje">
    </div>
  </div>
  <hr>
  <h4>
    <i class="fas fa-angle-double-right"></i> Vigencia
  </h4>
  <br>

  <div class="row">
    <div class="col-sm-2">
      <strong>
        Vigencia Revisión Técnica
      </strong>
      <input type="hidden" id="item" name="item" class="item" value="1">
    </div>
    <div class="col-sm-3">
      ###select-vigencia-rt###
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-vigencia-rt" id="ob-vigencia-rt" class="form-control col-der" placeholder="Ingrese Observación Revisión Técnica">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Vigencia Permiso Circulación
      </strong>
      <input type="hidden" id="item" name="item" class="item" value="2">      
    </div>
    <div class="col-sm-3">
      ###select-vigencia-pc###
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-vigencia-pc" id="ob-vigencia-pc" class="form-control col-der" placeholder="Ingrese Observación Permiso Circulación">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Vigencia Seguro Obligatorio
      </strong>
      <input type="hidden" id="item" name="item" class="item" value="3">
    </div>
    <div class="col-sm-3">
      ###select-vigencia-so###
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-vigencia-so" id="ob-vigencia-so" class="form-control col-der" placeholder="Ingrese Observación Seguro Obligatorio">
    </div>
  </div>
  <hr>
  <h4>
    <i class="fas fa-angle-double-right"></i> Controles
  </h4>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Control de Niveles
      </strong>
      <input type="hidden" id="item" name="item" class="item" value="4">
    </div>
    <div class="col-sm-3">
      <input type="text" name="control-niveles" id="control-niveles" class="form-control col-izq" placeholder="Ingrese Control de Niveles">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-control-niveles" id="ob-control-niveles" class="form-control col-der" placeholder="Ingrese Observación Control de Niveles">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Nivel de Combustible
      </strong>
      <input type="hidden" id="item" name="item" class="item" value="5">
    </div>
    <div class="col-sm-3">
      <input type="text" name="nivel-combustible" id="nivel-combustible" class="form-control col-izq" placeholder="Ingrese Nivel de Combustible">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-nivel-combustible" id="ob-nivel-combustible" class="form-control col-der" placeholder="Ingrese Observación Nivel de Combustible">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Nivel de Aceite
      </strong>
      <input type="hidden" id="item" name="item" class="item" value="6">
    </div>
    <div class="col-sm-3">
      <input type="text" name="nivel-aceite" id="nivel-aceite" class="form-control col-izq" placeholder="Ingrese Nivel de Aceite">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-nivel-aceite" id="ob-nivel-aceite" class="form-control col-der" placeholder="Ingrese Observación Nivel de Aceite">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Nivel de Agua Radiador
      </strong>
      <input type="hidden" id="item" name="item" class="item" value="7">
    </div>
    <div class="col-sm-3">
      <input type="text" name="nivel-agua-radiador" id="nivel-agua-radiador" class="form-control col-izq" placeholder="Ingrese Nivel de Agua Radiador">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-nivel-agua-radiador" id="ob-nivel-agua-radiador" class="form-control col-der" placeholder="Ingrese Observación Nivel de Agua Radiador">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Nivel de Liquido de Frenos
      </strong>
      <input type="hidden" id="item" name="item" class="item" value="8">
    </div>
    <div class="col-sm-3">
      <input type="text" name="nivel-liquido-frenos" id="nivel-liquido-frenos" class="form-control col-izq" placeholder="Ingrese Nivel de Líquido de Frenos">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-nivel-liquido-frenos" id="ob-nivel-liquido-frenos" class="form-control col-der" placeholder="Ingrese Observación Nivel de Liquido Frenos">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Nivel de Agua Limpia Parabrisas
      </strong>
      <input type="hidden" id="item" name="item" class="item" value="9">
    </div>
    <div class="col-sm-3">
      <input type="text" name="nivel-agua-limpia-parabrisas" id="nivel-agua-limpia-parabrisas" class="form-control col-izq" placeholder="Ingrese Nivel de Agua Limpia Parabrisas">
    </div>
    <div class="col-sm-5">
      <input type="text" name="ob-nivel-agua-limpia-parabrisas" id="ob-nivel-agua-limpia-parabrisas" class="form-control col-der" placeholder="Ingrese Observación Nivel de Agua Limpia Parabrisas">
    </div>
  </div>
  <hr>
  <h4>
    <i class="fas fa-angle-double-right"></i> Chequeos
  </h4>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Equipo Básico de Emergencia
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="10">
    </div>
    <div class="col-sm-3">
      ###select-ebem###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-ebem" id="ob-ebem" class="form-control col-der" placeholder="Ingrese Observación Equipo Básico de Emergencia">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Botiquín
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="11">
    </div>
    <div class="col-sm-3">
      ###select-botiquin###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-botiquin" id="ob-botiquin" class="form-control col-der" placeholder="Ingrese Observación Botiquín">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Extintor Operativo y Vigente
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="12">
    </div>
    <div class="col-sm-3">
      ###select-eov###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-eov" id="ob-eov" class="form-control col-der" placeholder="Ingrese Observación Extintor Operativo y Vigente">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Triángulos Luminosos
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="13">
    </div>
    <div class="col-sm-3">
      ###select-tl###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-tl" id="ob-tl" class="form-control col-der" placeholder="Ingrese Observación Triángulos Luminosos">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        LLaves Rueda
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="14">
    </div>
    <div class="col-sm-3">
      ###select-llr###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-llr" id="ob-llr" class="form-control col-der" placeholder="Ingrese Observación Llaves Rueda">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Gata
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="15">
    </div>
    <div class="col-sm-3">
      ###select-gata###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-gata" id="ob-gata" class="form-control col-der" placeholder="Ingrese Observación Gata">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Limpieza Interior
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="16">
    </div>
    <div class="col-sm-3">
      ###select-li###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-li" id="ob-li" class="form-control col-der" placeholder="Ingrese Observación Limpieza Interior">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Limpieza Pick Up
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="17">
    </div>
    <div class="col-sm-3">
      ###select-pu###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-pu" id="ob-pu" class="form-control col-der" placeholder="Ingrese Observación Limpieza Pick Up">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Chaleco Reflectante
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="18">
    </div>
    <div class="col-sm-3">
      ###select-chr###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-chr" id="ob-chr" class="form-control col-der" placeholder="Ingrese Observación Chaleco Reflectante">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Cabos Para Amarrar
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="19">
    </div>
    <div class="col-sm-3">
      ###select-cpa###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-cpa" id="ob-cpa" class="form-control col-der" placeholder="Ingrese Observación Cabos para Amarrar">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <strong>
        Rueda de Repuesto
      </strong> 
      <input type="hidden" id="item" name="item" class="item" value="20">
    </div>
    <div class="col-sm-3">
      ###select-rdr###
    </div>  
    <div class="col-sm-5">
      <input type="text" name="ob-rdr" id="ob-rdr" class="form-control col-der" placeholder="Ingrese Observación Rueda de Repuesto">
    </div>
  </div>
  <hr>
  <h4>
    <i class="fas fa-angle-double-right"></i> Control de Luces y Accesorios
  </h4>
  <br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Cargador USB Para Teléfono
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="21">
  </div>
  <div class="col-sm-3">
    ###select-cargador-usb###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-cargador-usb" id="ob-cargador-usb" class="form-control col-der" placeholder="Ingrese Observación Cargador USB para Teléfono">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces Frontales Altas
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="22">
  </div>
  <div class="col-sm-3">
    ###select-lfa###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lfa" id="ob-lfa" class="form-control col-der" placeholder="Ingrese Observación Luces Frontales Altas">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces Frontales Bajas
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="23">
  </div>
  <div class="col-sm-3">
    ###select-lfb###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lfb" id="ob-lfb" class="form-control col-der" placeholder="Ingrese Observación Luces Frontales Bajas">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Intermitentes
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="24">
  </div>
  <div class="col-sm-3">
    ###select-intermitentes###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-intermitentes" id="ob-intermitentes" class="form-control col-der" placeholder="Ingrese Observación Intermitentes">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luz Patente
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="25">
  </div>
  <div class="col-sm-3">
    ###select-luz-patente###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lp" id="ob-lp" class="form-control col-der" placeholder="Ingrese Observación Luz Patente">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces de Frenos
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="26">
  </div>
  <div class="col-sm-3">
    ###select-lf###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lf" id="ob-lf" class="form-control col-der" placeholder="Ingrese Observación Luces de Freno">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces de Retroceso
    </strong>
    <input type="hidden" id="item" name="item" class="item" value="27"> 
  </div>
  <div class="col-sm-3">
    ###select-lr###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lr" id="ob-lr" class="form-control col-der" placeholder="Ingrese Observación Luces de Retroceso">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces de Estacionamiento
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="28">
  </div>
  <div class="col-sm-3">
    ###select-le###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-le" id="ob-le" class="form-control col-der" placeholder="Ingrese Observación Luces de Estacionamiento">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Luces de Emergencia
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="29">
  </div>
  <div class="col-sm-3">
    ###select-lem###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lem" id="ob-lem" class="form-control col-der" placeholder="Ingrese Observación Luces de Emergencias">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Espejo Retrovisor
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="30">
  </div>
  <div class="col-sm-3">
    ###select-er###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-er" id="ob-er" class="form-control col-der" placeholder="Ingrese Observación Espejo Retrovisor">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Espejos Laterales
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="31">
  </div>
  <div class="col-sm-3">
    ###select-el###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-el" id="ob-el" class="form-control col-der" placeholder="Ingrese Observación Espejos Laterales">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Limpia Parabrisas
    </strong>
    <input type="hidden" id="item" name="item" class="item" value="32"> 
  </div>
  <div class="col-sm-3">
    ###select-lpar###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-lpar" id="ob-lpar" class="form-control col-der" placeholder="Ingrese Observación Limpia Parabrisas">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Parabrisas
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="33">
  </div>
  <div class="col-sm-3">
    ###select-par###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-par" id="ob-par" class="form-control col-der" placeholder="Ingrese Observación Parabrisas">
  </div>
</div>

<hr>
<h4>
  <i class="fas fa-angle-double-right"></i> Revisión Parte Externa
</h4>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Revisión Exterior Pintura
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="34">
  </div>
  <div class="col-sm-3">
    ###select-rep###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-rep" id="ob-rep" class="form-control col-der" placeholder="Ingrese Observación Revisión Exterior Pintura">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Revisión Espejos, Rayones , Etc.
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="35">
  </div>
  <div class="col-sm-3">
    ###select-ere###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-ere" id="ob-ere" class="form-control col-der" placeholder="Ingrese Observación Revisión Espejos, Rayones, Etc.">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Revisión 4 Neumáticos Aire/Estado
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="36">
  </div>
  <div class="col-sm-3">
    ###select-neumaticos###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-neumaticos" id="ob-neumaticos" class="form-control col-der" placeholder="Ingrese Observación 4 Neumáticos">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <strong>
      Revisión de Vidrios
    </strong> 
    <input type="hidden" id="item" name="item" class="item" value="37">
  </div>
  <div class="col-sm-3">
    ###select-vidrios###
  </div>  
  <div class="col-sm-5">
    <input type="text" name="ob-vidrios" id="ob-vidrios" class="form-control col-der" placeholder="Ingrese Observación de Vidrios">
  </div>
</div>
<hr>
<h4>
  <i class="fas fa-angle-double-right"></i> Observación General
</h4>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <textarea name="ob_general" id="ob_general" cols="30" rows="10" class="form-control"></textarea>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <button class="btn btn-secondary btn-block" id="send">
      Ingresar Datos
    </button>
  </div>
</div>
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script src="ckeditor/adapters/jquery.js"></script>
<script>
   $("#ob_general").ckeditor();

   $("#send").on( 'click', (e)=>{

    //ingresar la data del textarea hacia el server
    for ( instance in CKEDITOR.instances ) {
           CKEDITOR.instances[instance].updateElement();
       }

       let patente_vehiculo  = $('#patente_vehiculo').val();
       let kilometraje       = $('#kilometraje').val(); 
       let ob_general        = $('#ob_general').val();
       let col_izq           = $('.col-izq').serialize();
       let col_der           = $('.col-der').serialize(); 
       let item              = $('.item').serialize(); 

       //śolo validaré patente, kilometraje y ob_general
       if( patente_vehiculo ==''  ){
        alert("debe ingresar la patente del vehiculo");
        return false;

       }else if( kilometraje=='' ){
        alert("debe ingresar el kilometraje del vehiculo");
        return false;
       
      }else if( ob_general=='' ){
        alert("debe incluir una observación general");
        return false;

      }else{

        let data = {  'id'                :'ingresaRecepcion',
                      'patente_vehiculo'  : patente_vehiculo,
                      'kilometraje'       : kilometraje,     
                      'ob_general'        : ob_general,      
                      'col_izq'           : col_izq,         
                      'col_der'           : col_der,         
                      'item'              : item            
                    };

        ajx('#multiverso', data);
      }
    }); 
</script>