<div class="modal fade" id="@@@TARGET" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content fondo">
      <div class="modal-header">
        <div class="wea">
          <h4> <strong>@@@IMG-TITLE @@@TITLE </strong></h4>
        </div>
      </div>
      <div class="modal-body ">
        @@@CONTENT 
      </div>
      <div class="modal-footer">
        <button type="button"  id="@@@CLOSE-ID" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
      </div>
    </div>
  </div>
</div>
